.page-overview {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 2rem 2rem;
}

.overview-top {
    display: flex;
    /* background-color: cadetblue; */
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}
.overview-name {
    display: flex;
    /* color: var(--Black-12, #1A181E); */
    /* font-family: Galano Grotesque; */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
}
.dropdown {

}

.select-drop {
    width: 7.5625rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--Black-85, #D9D9D9);
    background: var(--Black-100, #FFF);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.overview-bottom {
    display: flex;
    /* background-color: blueviolet; */
    justify-content: space-between;
    margin-top: 0.75rem;
}
.overview-orders {

    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 50%;
    padding: 1.25rem;
    border-radius: var(--Spacing-spacing-04, 0.5rem);
    background: var(--Black-100, #FFF);
    box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.1);
}
.online-orders {
    color: var(--Black-30, #4D4D4D);
    /* font-family: Galano Grotesque; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.order-value {
    color: var(--Black-12, #1A181E);
    /* font-family: Galano Grotesque; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem; /* 118.75% */
}

@media (max-width:576px) {
    .overview-bottom {
      /* flex-direction: column; */
    }
  }