.page-table {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 2rem 2rem;

}

.table-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* padding: 1rem; */
    /* background-color: blue; */
    border-radius: var(--Spacing-spacing-04, 0.5rem);
    /* background: var(--Black-100, #FFF); */
    box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.1);
}

.table-title {
    color: var(--Black-12, #1A181E);
    /* font-family: Galano Grotesque; */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    /* 140% */
}

.table-top {
    display: flex;
    /* background-color: green; */
    padding: 1rem;
    justify-content: space-between;
}

.table-search {
    display: flex;
}

.search-iconn {
    background: var(--Black-100, #FFF);
    border-bottom: 1px solid var(--Black-85, #D9D9D9);
    border-top: 1px solid var(--Black-85, #D9D9D9);
    border-left: 1px solid var(--Black-85, #D9D9D9);
}

.search-inputt {
    display: flex;
    width: 50%;
}

.input-boxx {
    background: var(--Black-100, #FFF);
    border-bottom: 1px solid var(--Black-85, #D9D9D9);
    border-top: 1px solid var(--Black-85, #D9D9D9);
    border-right: 1px solid var(--Black-85, #D9D9D9);
}

.table-filter-download {
    display: flex;
    /* background-color: aqua; */
    width: 10%;
    justify-content: space-between;
}

.table-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.375rem var(--Spacing-spacing-05, 0.75rem);
    border: 1px solid var(--Black-85, #D9D9D9);
    background: var(--Black-100, #FFF);
    color: var(--Black-30, #4D4D4D);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.table-download {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--Black-85, #D9D9D9);
    background: var(--Black-100, #FFF);
    width: 30%;
}

.table-content {
    display: flex;
    /* background-color: blue; */
    /* height: 10rem; */
    padding: 1rem;
    flex-direction: column;
}

.content-title {
    display: flex;
    /* background-color: violet; */
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem var(--Spacing-spacing-05, 0.75rem);
    border-radius: 0.25rem;
    background: var(--Black-95, #F2F2F2);
}

.content-data {
    display: flex;
    /* background-color: saddlebrown; */
    width: 100%;
}

.title-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 2.5rem; */
    width: 25%;
    /* background-color: greenyellow; */
}

.content-data {
    /* background-color: pink; */
    width: 98%;
    height: 2 rem;
    align-self: center;
    border-bottom: 1px solid var(--Black-85, #D9D9D9);
    justify-content: space-between;
    /* background: var(--Black-100, #FFF); */
    padding: 0.875rem var(--Spacing-spacing-05, 0.75rem);
}

.data-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;

    /* background-color: yellowgreen; */
}

.table-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    gap: 0.5rem;
    align-self: center;
    height: 2rem;
    padding: 1rem;
    /* background-color: pink; */
}

.indicators-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 0.5rem;
    border-radius: 0.25rem;
    color: var(--Black-30, #4D4D4D);
    text-align: center;

    /* Body 2/Regular */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
}

.indicators-numbers:hover {
    background: var(--Primary-Blue, #146EB4);
    color: white;

}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35rem;
    /* padding: 0.375rem 0.75rem 0.375rem 0.375rem; */
    border-radius: 0.25rem;
    border: 1px solid var(--Black-85, #D9D9D9);
    background: var(--Black-100, #FFF);
    color: var(--Black-30, #4D4D4D);
    text-align: center;

    /* Body 2/Medium */
    /* font-family: Inter; */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
}

.indicator-active {
    padding: 0.375rem 0.5rem;
    border-radius: 0.25rem;
    color: white;
    background: var(--Primary-Blue, #146EB4);
}